<%= bootstrap_form_for @idea do |form| %>
  <% if @idea.errors.present? %>
    <p>
      <%= @idea.errors.full_messages.join(', ') %>
    </p>
  <% end %>
  <div>

    <%= form.text_field :title %>
  </div>

  <div>
    
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>
