
<%= bootstrap_form_for @user do |f| %>
  <% if @user.errors.present? %>
    <p>
      <%= @user.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  

    <%= f.text_field :first_name %>

    <%= f.text_field :last_name %>

    <%= f.email_field :email %>



    <%= f.password_field :password %>

    <%= f.password_field :password_confirmation %>

  <%= f.submit %>
<% end %>
